<section class="form-section">

    <header class="form-section__header">
        <h1>Hello 👋</h1>
    </header>

    <form class="form" method="POST" action="/create-account">

        <h2>Create account</h2>

        {{#if error}}
        <p class="form__error">{{error}}</p>
        {{/if}}

        <div class="form__input-group">
            <label class="form__label" for="firstName" class="label-ref label">First name</label>
            <input class="form__input" id="firstName" type="text" name="firstName">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="lastName">Last Name</label>
            <input class="form__input" id="lastName" type="text" name="lastName">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="email">Email</label>
            <input class="form__input" id="email" type="email" name="email">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="password">Password</label>
            <input class="form__input" id="password" type="password" name="password">
        </div>

        <button class="form__button" type="submit">Let's go!</button>
    </form>

    <div class="form-section__link">
        <p>Already have an account? </p><a href="/login">Log in</a>
    </div>

</section>