<section class="form-section">

    <header class="form-section__header">
        <h1>Welcome back 💙</h1>
    </header>

    <form class="form" method="POST" action="/login">

        <h2>Log in</h2>

        {{#if error}}
        <p class="form__error">{{error}}</p>
        {{/if}}

        <div class="form__input-group">
            <label class="form__label" for="email">Email</label>
            <input class="form__input" id="email" type="email" name="email">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="password">Password</label>
            <input class="form__input" id="password" type="password" name="password">
        </div>

        <button class="form__button" type="submit">Let's go!</button>
    </form>

    <div class="form-section__link">
        <p>You don't have an account? </p><a href="/create-account">Create account</a>
    </div>

</section>