<div class="nav-bar">
  <div class="nav-bar__logo"><a href="/">Scoby</a></div>
  <div class="nav-bar__nav-items">
    <ul class="nav-items__links">
      {{#unless isLoggedIn}}
      <li class="links__list"><a class="links__link" href="/login">Log in</a></li>
      <li class="links__list"><a class="links__link" href="/create-account">Create account</a></li>
      {{/unless}}
      {{#if isLoggedIn}}
      <li class="links__list"><a class="links__link" href="/logout">Log out</a></li>
      <li class="links__list"><a class="links__link" href="/personal">{{user.firstName}}</a></li>
      {{/if}}
      <li class="links__list--add-item-button"><a class="links__link" href="/add-item">Add item</a></li>
    </ul>
  </div>
</div>