<div class="nav-bar">
  <div class="nav-bar__logo"><a href="/">Scoby</a></div>
  <div class="nav-bar__nav-items">

    <label class="nav-bar__hamburger" for="toggle">&#9776;</label>
    <input class="nav-bar__toggle" type="checkbox" id="toggle" />

    <ul class="nav-bar__links">
      {{#unless isLoggedIn}}
      <li><a class="nav-bar__link" href="/login">Log in</a></li>
      <li><a class="nav-bar__link" href="/create-account">Create account</a></li>
      {{/unless}}
      {{#if isLoggedIn}}
      <li><a class="nav-bar__link" href="/logout">Log out</a></li>
      <li><a class="nav-bar__link" href="/personal">{{user.firstName}}</a></li>
      {{/if}}
      <li class="add-item-button"><a class="nav-bar__link" href="/add-item">Add item</a></li>
    </ul>

  </div>
</div>