<div class="about__container">
    {{> backButton}}
    <h3 class="about__copy">
        Scoby grew in the mind of three web development students @ Ironhack Paris. It is a platform to give away plant
        cuttings, vinegar and kombucha scobies, or kefir seeds. All those little things you never know where to find,
        and which would be so nice to share.
        <br>
        <br>
        Scoby is an Express app built with Node.js, CSS 3, HTML 5 and Vanilla JS.
        <br>
        <br>
        <div class="about__logos">
            <img src="./media/Node_logo.svg" alt="Node logo">
            <img src="./media/HTML_logo.svg" alt="HTML logo">
            <img src="./media/CSS_logo.svg" alt="CSS logo">
            <img src="./media/JS_logo.svg" alt="JavaScript logo">
        </div>
        <br>
        <br>
        You can find us on GitHub.
        How nice is that.
    </h3>
    <div class="about__names">
        <h3><a href="https://github.com/rebeccanoren">Rebecca</a></h3>
        <h3><a href="https://github.com/williamhzo">William</a></h3>
        <h3><a href="https://github.com/florian-jomain">Florian</a></h3>
    </div>
</div>