<div class="about__container">
    {{> mapButton}}
    <h1 class="about__header">About page</h1>
    <h3 class="about__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quod facere mollitia aliquam
        sapiente vitae deleniti,
        nostrum esse eligendi, nisi eos, facilis tempore dolore voluptatum modi quae doloribus. Rem quos doloremque,
        sunt
        voluptatibus eius aperiam et magni ducimus similique reiciendis necessitatibus praesentium deleniti quibusdam
        beatae
        ipsam quas! Dolorem voluptate amet repellat quas laborum reiciendis reprehenderit illum labore, excepturi id
        iusto
        provident in animi saepe cupiditate nobis cum aliquid similique sed nesciunt adipisci accusantium repudiandae
        atque
        impedit. Doloremque, nostrum ea corrupti officiis doloribus et neque natus fugiat nemo possimus repellendus
        dolorum
        pariatur suscipit incidunt dignissimos quia expedita magnam accusantium odio amet?</h3>
</div>