<div class="add-item__container">{{> itemFormPartial}}</div>

<div class="error-page">
    <img class="error-page__image" src="./media/404.svg" alt="cute evil cat">
    <h1>Scoby is sorry.</h1>
    <p>Please try again.</p>
    {{> backButton}}
</div>