<div class="home">

    <div class="home__map" id="map"></div>
    <div class="info-card__container"></div>
    <div class="add-item__container">{{> itemFormPartial}}</div>
    <div class="home__about"><a href="/about">About</a></div>

</div>