<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- favicon --}}
  <link rel="apple-touch-icon" sizes="180x180" href="media/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="media/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/favicon/favicon-16x16.png">
  <link rel="manifest" href="media/favicon/site.webmanifest">
  <link rel="mask-icon" href="media/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Scoby | Share your scobies!</title>
  {{!-- frontend js --}}
  <script defer src="javascripts/map.js"></script>
  <script defer src="javascripts/autocomplete.js"></script>
  <script defer src="javascripts/interface.js"></script>
  {{!-- mapbox --}}
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  {{!-- css --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/forms.css' />
  <link rel='stylesheet' href='/stylesheets/personalPage.css' />
  <link rel='stylesheet' href='/stylesheets/itemDisplay.css' />
  <link rel='stylesheet' href='/stylesheets/partials.css' />
  {{!-- axios --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  {{!-- Google Maps JavaScript API --}}
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9cUIyLp13OR4zmxbSCuSyahB1ZOknz-s&libraries=places&callback=initAutocomplete"
    async defer></script>

  {{!-- fontAwesome --}}
  {{!-- <script src="https://kit.fontawesome.com/6241f32aae.js" crossorigin="anonymous"></script> --}}
</head>

<body>

  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />

  {{> navbar}}
  {{{body}}}

</body>

</html>