$primary: #5663FF;

.form-section {
  max-width: 550px;
  margin: 10vh auto 0;
  padding: 0 20px;

  .round__image {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 20px;

    img {
      position: absolute;
      width: auto;
      height: 100%;
    }
  }

  .form__error {
    background-color: #F6DBD1;
    padding: 15px;
    width: 94%;
    border-radius: 10px;
    color: #D84A29;
    font-size: 14px;
    font-weight: 600;
  }

  .form-section__header {
    text-align: center;
  }

  form {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(16, 35, 82, 0.02) 0 7px 50px 20px;

    .form__input {
      margin: 8px 0 12px;
      width: 95%;
      border-radius: 4px;
      display: block;
      border: none;
      font-size: 14px;
      background: #FBFBFD;
      padding: 12px 12px;
    }


    .form__label {
      font-size: 14px;
      font-weight: 600;
    }

    h2 {
      margin-top: 0px;
      text-align: center;
    }

    button {
      margin-top: 30px;
      background: $primary;
      width: 100%;
      color: white;
      padding: 16px 0;
      font-size: 16px;
      border-radius: 10px;
      border: none;
    }
  }

  .form-section__link {
    text-align: center;
  }
}

.edit__phoneNumber {
  margin-top: 20px;
}