$primary: #5663ff;
$lightGray: #EFF1F6;

.form-section {
  max-width: 550px;
  margin: 3vh auto 0;
  padding: 0 20px;
  // overflow-y: auto;
  max-height: 75vh;

  .round__image {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 20px;

    img {
      position: absolute;
      width: 100%;
      object-fit: cover;
    }
  }

  .form__error {
    background-color: #f6dbd1;
    padding: 15px;
    width: 94%;
    border-radius: 10px;
    color: #d84a29;
    font-size: 14px;
    font-weight: 600;
  }

  .form__message {
    display: flex;
    flex-direction: row;
    background-color: #f1f2ff;
    padding: 15px;
    width: 94%;
    border-radius: 10px;
    color: $primary;
    font-size: 14px;
    font-weight: 500;

    img {
      margin-right: 8px;
    }
  }

  .form-section__header {
    text-align: center;
  }

  form {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(16, 35, 82, 0.02) 0 7px 50px 20px;

    .form__input {
      margin: 8px 0 12px;
      width: 95%;
      border-radius: 4px;
      display: block;
      border: none;
      font-size: 14px;
      background: $lightGray;
      padding: 12px 12px;
    }

    .form__select {
      display: block;
      font-size: 14px;
      line-height: 1.3;
      padding: 12px 12px;
      width: 101%;
      box-sizing: border-box;
      margin: 10px 0;
      border-radius: 4px;
      border: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: $lightGray;
      background-image: url('../media/arrow.svg');
      background-repeat: no-repeat, repeat;
      background-position: right 18px top 50%, 0 0;
      background-size: 0.65em auto, 100%;
    }

    .form__text-area {
      display: block;
      font-size: 14px;
      width: 100%;
      background: $lightGray;
      border: none;
      border-radius: 4px;
      line-height: 1.3;
      resize: none;
      box-sizing: border-box;
      padding: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'Manrope', sans-serif;
    }

    .form__label {
      font-weight: 600;
    }

    h1 {
      margin-top: 0px;
      text-align: center;
    }

    input[type="file"] {
      display: none;
    }

    .custom-file-upload {
      border: 1px solid $primary;
      color: $primary;
      border-radius: 4px;
      display: inline-block;
      padding: 10px 22px;
      cursor: pointer;
      margin-bottom: 20px;
    }

    button {
      margin-top: 30px;
      background: $primary;
      width: 100%;
      color: white;
      padding: 16px 0;
      font-size: 16px;
      border-radius: 10px;
      border: none;
    }

    .closeCross {
      text-align: right;
      font-weight: 900;
      font-size: 1.4rem;
      cursor: pointer;
      float: right;
      text-decoration: none;
      color: black;
    }
  }

  .form-section__link {
    text-align: center;
  }


}

.edit__phoneNumber {
  margin-top: 20px;
}