$primary: #5663ff;

.info-card {
  &__container {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 25px;
    top: 0px;
    box-shadow: 0 0 50px lightgrey;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    padding: 25px;
    margin: 75px auto;
    z-index: 100;
    overflow-y: auto;
    max-height: 75vh;

    .closeLink {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 50px;
      border-radius: 10px;
      color: $primary;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }

    .round__image {
      height: 150px;
      width: 150px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      margin: 25px auto 10px;

      img {
        position: absolute;
        width: 100%;
        object-fit: cover;
      }
    }

    .round__image__user {
      min-height: 30px;
      min-width: 30px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      margin-right: 10px;

      img {
        position: absolute;
        width: 100%;
        object-fit: cover;
      }
    }

    h2 {
      margin: 0;
      text-align: center;
    }

    .info-card__info {
      margin: 10px auto;
    }

    .info-card__info span {
      display: inline;
      margin: 5px 5px;
    }

    .user__info {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact__information {
      text-align: center;
      margin-top: 20px;
      background: #f1f2ff;
      padding: 15px;
      width: 94%;
      border-radius: 10px;
      color: $primary;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.add-item__container {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  right: 25px;
  top: 0px;
  box-shadow: 0 0 50px lightgrey;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  margin: 75px auto;
  z-index: 100;
  overflow-y: auto;
  max-height: 75vh;

  .form-section {
    margin-top: 0;
    padding: 0;
    margin: 0;

    form {
      padding: 30px;
    }
  }
}

.add__item {
  h1 {
    text-align: center;
    margin-top: 10px;
  }

  h2 {
    margin: 30px 0 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .add-item__container {
    right: 2vh;
    visibility: hidden;
    // position: absolute;
    // // display: flex;
    // // flex-direction: column;
    // // justify-content: start;
    // top: 0%;
    // box-shadow: 0 0 50px lightgrey;
    // border-radius: 20px;
    // background-color: white;
    width: 300px;
    padding: 10px;
    margin: 75px auto;
    // z-index: 100;

    .form-section form {
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  .info-card {
    &__container {
      left: auto;
      visibility: hidden;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: start;
      top: 0%;
      box-shadow: 0 0 50px lightgrey;
      border-radius: 20px;
      background-color: white;
      width: 300px;
      padding: 25px;
      margin: 75px auto;
      z-index: 100;
    }
  }
}