.nav-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    line-height: 70px;

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
    }

    &__hamburger {
        font-size: 1.6rem;
        margin: 0 2rem 0 0;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__toggle {
        display: none;
    }

    &__logo {
        font-size: 2.2rem;
        font-weight: 600;
        margin: 1.2rem;
        text-shadow: 2px 2px 2px grey;
        z-index: 1;
    }

    &__nav-items {
        display: flex;
        align-items: center;
        z-index: 1;
        max-height: 70px;
    }

    &__links {
        display: flex;
    }

    &__link {
        font-size: 1.2rem;
        margin: 0 1.5rem;
        font-weight: 600;
    }

    .add-item-button a {
        font-size: 1.2rem;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-bar__link svg {
        margin-right: 0.5rem;
        filter: invert(43%) sepia(88%) saturate(3991%) hue-rotate(224deg) brightness(98%) contrast(107%);
        position: relative;
        top: 0.3rem;
    }
}

@media (max-width: 768px) {
    .home {
        width: 100%;
        height: 100vh;
    }

    .nav-bar__hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-bar__links {
        display: none;
        text-align: right;
        margin: 5rem 3rem 0 0;
        width: auto;
        background-color: $background;
        border-radius: 20px;
        box-shadow: 0 0 50px lightgrey;
    }

    .nav-bar__link {
        display: block;
        height: 2rem;
        margin-bottom: 2rem;
    }

    .nav-bar__nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
    }

    #toggle:checked+.nav-bar__links {
        animation: 0.5s fadeInRight;
        display: block;
    }
}

.back-button {
    a {
        color: black;
        text-decoration: none;
    }

    img {
        height: 10px;
        margin-right: 10px;
    }
}

.is-visible {
    visibility: visible;
}