$primary: #5663FF;

.personal-section {
  max-width: 800px;
  margin: 10vh auto 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stack__empty__state {
    margin-top: 60px;
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 10px;

    button {
      margin-top: 20px;
      width: 100%;
      background: $primary;
      color: white;
      font-size: 16px;
      padding: 12px 16px;
      border-radius: 10px;
      border: none;
    }
  }

  .user__image {
    margin: 0px auto;
  }

  .use__contact {
    margin-top: 20px;
    background: #F1F2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;

    h4 {
      text-align: center;
      margin-top: 0;
    }

    form {

      .form__input-group {
        .form__input {
          margin-top: 8px;
          width: 350px;
          border-radius: 4px;
          display: block;
          border: 1px solid $primary;
          font-size: 16px;
          background: transparent;
          padding: 12px 12px;
        }

        .form__label {
          font-size: 14px;
          font-weight: 600;
        }
      }

      button {
        margin-top: 20px;
        width: 100%;
        background: $primary;
        color: white;
        font-size: 16px;
        padding: 12px 0;
        border-radius: 10px;
      }
    }
  }

  .round__image {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      width: auto;
      height: 100%;
    }
  }

  .user__presentation {
    text-align: center;
  }

  .stack {
    margin-top: 50px;

    .stack__item {
      display: flex;
      padding: 20px 40px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: white;
      max-width: 800px;
      margin-bottom: 20px;
      border-radius: 10px;

      .round__image {
        height: 200px;
        width: 200px;
      }

      .stack__item__description {
        flex: 2;
        margin-right: 30px;
        text-align: center;

        h2 {
          margin: 10px 0;
        }

        h4 {
          margin: 5px 0;
          font-weight: 400;
        }
      }

      .stack__item__buttons {
        display: flex;

        button {
          padding: 12px 20px;
          margin-right: 10px;
          border-radius: 10px;
          color: $primary;
          background: transparent;
          border: 1px solid $primary;
          ;
          font-size: 16px;
        }
      }
    }

    h3 {
      text-align: center;
    }



    @media (min-width:480px) {
      .stack__item {
        flex-direction: row-reverse;

        .stack__item__description {
          flex: 2;
          margin-right: 30px;
          text-align: left;
        }

      }
    }
  }


}