@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$background: #F8F9FD;
$primary: #5663FF;


html,
body {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $background;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

// Map display test

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .home_svg {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }

  .home__map {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  #marker {
    background-image: url('../media/marker.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
}

@media (min-width: 320px) {

  .top-nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;

    #logo {
      font-size: 30px;
      font-weight: 600;
      margin: 20px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .top-nav-right {
      width: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .auth-links {
        display: flex;

        li {
          list-style: none;
          margin: 0 20px;
          font-weight: 600;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      .add-item-button a {
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: lime;
        background-color: black;
      }
    }
  }

  #shroom {
    font-size: 100px;
  }

  #about {
    width: auto;
    font-weight: 600;
    margin-bottom: 30px;
  }
}