@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$background: #f8f9fd;
$primary: #5663ff;

html,
body {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $background;
  overflow: hidden;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.6rem;
}

h5 {
  font-size: 0.6rem;
}

a {
  color: $primary;
  font-weight: 700;
  text-decoration: none;
}

// Map display test

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;

  &__map {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  &__about {
    position: absolute;
    bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 1;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .marker--active {
    background-image: url('../media/marker.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .marker--purple {
    background-image: url('../media/marker-purple.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .marker--purple:active {
    background-image: url('../media/marker.svg');
  }

  .marker__plant {
    background-image: url('../media/plant.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .marker__kombucha {
    background-image: url('../media/kombucha.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
  }

  .marker__vinegar {
    background-image: url('../media/vinegar.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .marker__kefir {
    background-image: url('../media/kefir.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.about__container {
  //   width: 550px;
  width: 70%;
  margin: 5vh auto 0;
  padding: 0 20px;
  max-height: 80vh;
  overflow-y: auto;

  .about__copy {
    line-height: 2rem;
  }

  .about__logos {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;

    img {
      height: 7vh;
    }
  }

  .about__names {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: $primary;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
