@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$background: #f8f9fd;
$primary: #5663ff;

html,
body {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $background;
  overflow: hidden;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

// Map display test

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;

  .home__map {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  &__about {
    position: absolute;
    bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 1;
  }

  .marker {
    background-image: url("../media/marker.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
      brightness(118%) contrast(119%);
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
}

.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  line-height: 70px;

  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
  }

  &__hamburger {
    font-size: 1.6rem;
    margin: 0 2rem 0 0;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__toggle {
    display: none;
  }

  &__logo {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1.2rem;
    text-shadow: 2px 2px 2px grey;
    z-index: 1;
  }

  &__nav-items {
    display: flex;
    align-items: center;
    z-index: 1;
    max-height: 70px;
  }

  &__links {
    display: flex;
  }

  &__link {
    font-size: 1.2rem;
    margin: 0 1.5rem;
    font-weight: 600;
  }

  .add-item-button a {
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
  }

  .nav-bar__link svg {
    margin-right: 0.5rem;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
      brightness(118%) contrast(119%);
    position: relative;
    top: 0.3rem;
  }
}

@media (max-width: 768px) {
  .nav-bar__hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-bar__links {
    display: none;
    text-align: right;
    margin: 2rem 5rem 0 0;
    width: 100%;
  }

  .nav-bar__link {
    display: block;
    height: 2rem;
    margin-top: 2rem;
  }

  .nav-bar__nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
  }

  #toggle:checked + .nav-bar__links {
    animation: 0.5s fadeInRight;
    display: block;
  }

  // #toggle + .nav-bar__links {
  //   animation: 0.5s fadeOutRight;
  //   display: none;
  // }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
