@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    font-family: 'Manrope',
        sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (min-width:320px) {

    .main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: lightgreen;

        .top-nav {
            width: 100vw;
            display: flex;
            justify-content: space-between;

            #logo {
                font-size: 30px;
                font-weight: 600;
                margin: 20px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            .top-nav-right {
                width: 40%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .auth-links {

                    display: flex;

                    li {
                        list-style: none;
                        margin: 0 20px;
                        font-weight: 600;

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }

                .add-item-button a {
                    padding: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    color: lime;
                    background-color: black;
                }
            }
        }

        #shroom {
            font-size: 100px;
        }

        #about {
            width: auto;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
}